services:
  - type: web
    name: overload-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: production
      - key: RENDER_EXTERNAL_URL
        value: https://overload-api.onrender.com